## Recap From Day 1
- Jupyter
- python as calculator
- Functions
  - help
  - print
  - type
  - id
  - input
- Errors
  - Syntax
  - Semantic
  - Runtime
- Operators, PEMDAS
  - add, subtract
  - multiply, division, floor/integer division
  - exponentiation
    - right to left evaluation  2**3**4 == 2 ** (3 ** 4)
- Conversion functions
  - int()
  - str()
  - float()
  - bool()
- read/write from stdin/stdout
  - print
    - write stdout
  - input
    - read stdin
    - always returns string
- format
  - specifier
  - format method

# Review ( ~20-30 minutes)

- Notes from realpython.com
  - [Data Types](https://realpython.com/python-data-types/)
  - [Variables](https://realpython.com/python-variables/)
  - [Operators, Expressions](https://realpython.com/python-operators-expressions/)

## Integers
- Integers can be represented in different base
  - decimal, base 10, using digits 0 - 9
  - binary, base 2, using digits 0 - 1
  - hexadecimal, base 16, using digits 0 -9, A(10) - F(15)
  - octal, base 7, using digits 0-6
  
### How large an integer can python support?
- Limited by your computer's memory

In [13]:
largeNumber = 273487849071248907489071289047124721983741298749812781927127409178284239048212048314890213441098401849048019815481490
print (largeNumber)

273487849071248907489071289047124721983741298749812781927127409178284239048212048314890213441098401849048019815481490

### Integers  prefixed with b, B, x, X to represent different base
- binary
  - 0b1010101
  - 0B1010101
- Hexadecimal (Hex)
  - 0x65535 
  - 0x65535
  - 0xDEAD
  - 0xBEEF
  - 0xBAD
  - 0xdecaf
  - 0xb01dface
  - 0xba5eba11

In [14]:
0b1010101  # binary, base 2.  0,1.  Output in base 10

85

In [15]:
0B1010101  # binary, base 2.  0,1.  Output in base 10

85

In [16]:
0x7     # hex, base 16.  0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F

7

In [17]:
0xF     # output in base 10, decimal

15

In [18]:
0xDEADBEEF

3735928559

In [19]:
0x1      # 1 * (16 ** 0) == 1 * 1 == 1

1

In [20]:
0x10    # 1 * (16 ** 1) == 1 * 16 == 16

16

In [9]:
16**2

256

In [10]:
0x100   # 1 * (16 ** 2) == 1 * 256 == 256b

256

In [11]:
16 ** 3

4096

In [12]:
0x1000  # 1 * (16 ** 3) == 1 * 4096 == 4096

4096

### Integer is an Integer irrespective of its base

In [13]:
type(1000)   # base 10, decimal

int

In [14]:
type(0x1000)   # base 16, hex

int

In [15]:
type(0b101010) # base 2, binary

int

## Floating Point Numbers

###  May have E or e followed by +ve or -ve Numbers

In [16]:
1e6   # 1 million, 1 x 10 to power 6

1000000.0

In [17]:
1e+6   # 1 million

1000000.0

In [18]:
1e9   # 1 billion, 1 x 10 to power 9

1000000000.0

In [19]:
1e-6   # 1 millionth

1e-06

In [20]:
1/1e6 == 1e-6

True

### What is the largest Floating Point Number?

In [21]:
1.79e308  # 179 followed by 306 zeros

1.79e+308

In [2]:
179e306

1.79e+308

In [3]:
1.79e308  == 179e306

True

In [22]:
1.8e308   # 179 followed by 306 zeros

inf

In [23]:
1.79e308 + 999999999999999999999999.0

1.79e+308

### Positive Number closest to Zero

In [24]:
1e-1,1e-2,1e-3

(0.1, 0.01, 0.001)

In [25]:
5e-324  # 0. <323 zeros > <followed by 5>

5e-324

In [26]:
5e-325

0.0

## Strings
- Sequence of characters within single or double or triple quotes
- String can be empty or as long as your computer memory supports

In [27]:
print("Hello Python")

Hello Python

In [28]:
type("Hello Python")

str

In [29]:
emptyStr = ''

### String with ' or " in them

In [30]:
"String with a single quote ' in them"

"String with a single quote ' in them"

In [31]:
'String with a double quote " in them'

'String with a double quote " in them'

### Backslash \ as Escape Character

In [32]:
'String with a single quote escaped  \' in them'  # the char following \ does not have any special meaning

"String with a single quote escaped  ' in them"

In [33]:
"String with a double quote escaped \" in them"

'String with a double quote escaped " in them'

### String with a single backslash \

In [34]:
"\\"   # need to escape it with another backslash

'\\'

In [35]:
len("\\")    # length string == 1, because it contains 1 backslash

1

In [36]:
print("\\")  # print a backslash

\

## Boolean
- Takes 2 values:  True or False
- Expressions are evaluated in boolean context intepreted to represent True or False

## Conversion Functions
- int()
- str()
- float
- bool()

## Input and Output
- print()
- input()
  - returns strings
  - EOFError

In [37]:
!cat eof.py

print("Input EOFError demo")

string = input("Enter numbers or string ")

print("Input Entered:", string)

eof = input("Enter ctrl-z or ctrl-d: ")

- On terminal run  python3 eof.py

## Variables
- names bound to objects
- variable names short, meaningfull
  - camelCase
  - snake_case
- names can have A-Z, a-z, 0-9 and _
  names **cannot start** with a digit
- constant names are in ALLCAPS
  - convention, value can be changed

In [38]:
n=300

![](https://files.realpython.com/media/t.2d7bcb9afaaf.png)

In [39]:
m=n

![](https://files.realpython.com/media/t.d368386b8423.png)

In [40]:
m=400

![](https://files.realpython.com/media/t.d476d91592cd.png)

In [41]:
n='foo'

![](https://files.realpython.com/media/t.344ab0b3aa8c.png)

## Id Function
- Object Identifier

In [42]:
n = 300
m = n           # one object (300) and 2 names (m,n)
id(n) == id(m)

True

In [43]:
n = 300         # two objects (300,400) and 2 names (m,n)
m = 400
id(n) == id(m)

False

## Python reuses Object Ids for Integers from -5 to 256

In [44]:
n=20
m=20
id(n) == id(m)  # python reuses object-id for integers from -5 to 256

True

In [45]:
n=257
m=257
id(n) == id(m) # every integer other than -5 to 256 will be differnt objects

False

## How to find list of keywords in Python
- Jupyter shows keywords as Green text

In [46]:
import keyword  # list of python reserved keywords
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

<h2 id="comparison-operators">Arithmetic Operators</h2>
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Example</th>
<th>Meaning</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>+</code>&nbsp;(unary)</td>
<td><code>+a</code></td>
<td><strong>Unary Positive</strong></td>
<td><code>a</code><br>In other words, it doesn&rsquo;t really do anything. It mostly exists for the sake of completeness, to complement <strong>Unary Negation</strong>.</td>
</tr>
<tr>
<td><code>+</code>&nbsp;(binary)</td>
<td><code>a + b</code></td>
<td><strong>Addition</strong></td>
<td>Sum of <code>a</code> and <code>b</code></td>
</tr>
<tr>
<td><code>-</code>&nbsp;(unary)</td>
<td><code>-a</code></td>
<td><strong>Unary Negation</strong></td>
<td>Value equal to <code>a</code> but opposite in sign</td>
</tr>
<tr>
<td><code>-</code>&nbsp;(binary)</td>
<td><code>a - b</code></td>
<td><strong>Subtraction</strong></td>
<td><code>b</code> subtracted from <code>a</code></td>
</tr>
<tr>
<td><code>*</code></td>
<td><code>a * b</code></td>
<td><strong>Multiplication</strong></td>
<td>Product of <code>a</code> and <code>b</code></td>
</tr>
<tr>
<td><code>/</code></td>
<td><code>a / b</code></td>
<td><strong>Division</strong></td>
<td>Quotient when <code>a</code> is divided by <code>b</code>.<br> The result always has type <code>float</code>.</td>
</tr>
<tr>
<td><code>%</code></td>
<td><code>a % b</code></td>
<td><strong>Modulus</strong></td>
<td>Remainder when <code>a</code> is divided by <code>b</code></td>
</tr>
<tr>
<td><code>//</code></td>
<td><code>a // b</code></td>
<td><strong>Floor Division</strong> (also called <strong>Integer Division</strong>)</td>
<td>Quotient when <code>a</code> is divided by <code>b</code>, rounded to the next smallest whole number</td>
</tr>
<tr>
<td><code>**</code></td>
<td><code>a ** b</code></td>
<td><strong>Exponentiation</strong></td>
<td><code>a</code> raised to the power of <code>b</code></td>
</tr>
</tbody>
</table>
</div>

<h2 id="comparison-operators">Comparison Operators</h2>
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Example</th>
<th>Meaning</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>==</code></td>
<td><code>a == b</code></td>
<td><strong>Equal to</strong></td>
<td><code>True</code> if the value of <code>a</code> is equal to the value of <code>b</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>!=</code></td>
<td><code>a != b</code></td>
<td><strong>Not equal to</strong></td>
<td><code>True</code> if <code>a</code> is not equal to <code>b</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>&lt;</code></td>
<td><code>a &lt; b</code></td>
<td><strong>Less than</strong></td>
<td><code>True</code> if <code>a</code> is less than <code>b</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>&lt;=</code></td>
<td><code>a &lt;= b</code></td>
<td><strong>Less than or equal to</strong></td>
<td><code>True</code> if <code>a</code> is less than or equal to <code>b</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>&gt;</code></td>
<td><code>a &gt; b</code></td>
<td><strong>Greater than</strong></td>
<td><code>True</code> if <code>a</code> is greater than <code>b</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>&gt;=</code></td>
<td><code>a &gt;= b</code></td>
<td><strong>Greater than or equal to</strong></td>
<td><code>True</code> if <code>a</code> is greater than or equal to <code>b</code><br><code>False</code> otherwise</td>
</tr>
</tbody>
</table>
</div>

## Comparing Floating Points
[Issues with Floating Point](https://docs.python.org/3.6/tutorial/floatingpoint.html)
- value stored internally for a float object may not be precisely what you’d think it would be. 
- it is poor practice to compare floating-point values for exact equality.

In [47]:
x = 1.1 + 2.2
x == 3.3

False

In [48]:
tolerance = 0.00001
x = 1.1 + 2.2
abs(x - 3.3) < tolerance  # abs - absolute value abs(-5) == 5, abs(5) == 5

True

<h2 id="comparison-operators">Logical Operators</h2>
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Example</th>
<th>Meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>not</code></td>
<td><code>not x</code></td>
<td><code>True</code> if <code>x</code> is <code>False</code><br><code>False</code> if <code>x</code> is <code>True</code><br>(Logically reverses the sense of <code>x</code>)</td>
</tr>
<tr>
<td><code>or</code></td>
<td><code>x or y</code></td>
<td><code>True</code> if either <code>x</code> or <code>y</code> is <code>True</code><br><code>False</code> otherwise</td>
</tr>
<tr>
<td><code>and</code></td>
<td><code>x and y</code></td>
<td><code>True</code> if both <code>x</code> and <code>y</code> are <code>True</code><br><code>False</code> otherwise</td>
</tr>
</tbody>
</table>
</div>

In [49]:
type(100 > 10)

bool

## Evaluation of Expression in Boolean Contex
- Any value that is numerically zero (0, 0.0, 0.0+0.0j)
- An empty string

In [50]:
print(bool(0), bool(0.0))  # 0 and 0.0 converts to False

False False

In [51]:
print(bool(-3), bool(3.14159)) # any +ve or -ve number converts to True

True True

In [52]:
print(bool(5e-324), bool(5e-325))  # smallest +ve number (5e-324),  anything lower than this is zero, hence False

True False

In [53]:
bool(None)

False

In [54]:
print(bool(''), bool(""), bool(""""""))  # Empty String converts to False

False False False

In [55]:
print(bool('foo'), bool(" "), bool(''' '''))  # Non Empty String converts to True

True True True

In [56]:
x = 3
y = 4
z = 5

In [57]:
x or y    # if x is True, it will not try y

3

In [58]:
x or y or z   # if x is True it will not try y, z.  If x is False, it will try y

3

In [59]:
1 or 1, 0 or 1, 1 or 0, 0 or 0  # 1,1 it will stop at 1st 1.  0,1, it will stop at 2nd 1.

(1, 1, 1, 0)

In [60]:
x and y       #  returns the value of the last expression

4

In [61]:
x and y and z

5

In [62]:
1 and 1, 0 and 1, 1 and 0, 0 and 0

(1, 0, 0, 0)

In [63]:
x = 0.0
y = 4.4
z = 5.5

In [64]:
x or y

4.4

In [65]:
x and y

0.0

In [66]:
x=1000
y=1000
id(x) == id(y)

False

In [67]:
x is y  # not the same object

False

In [68]:
x == y  # both have the same value

True

In [69]:
a = 'I am a string'
b = a

In [70]:
id(a) == id(b), a is b, a == b  # a and b point to the same object, hence same ids, identity and value

(True, True, True)

In [71]:
a = 'I am a string'
b = 'I am a string'
id(a) == id(b), a is b, a == b # different objects, hence different ids, different identity and same value

(False, False, True)

In [72]:
a = True
b = True
id(a) == id(b), a is b, a == b

(True, True, True)

## Short Circuit Evaluation
- Sometimes we dont want operations to throw exception
- a technique to assign default value

In [73]:
a = 3
b = 1
(b / a) > 0

True

In [74]:
a = 0
b = 1
(b / a) > 0

ZeroDivisionError: division by zero

In [75]:
a = 0
b = 1
a != 0 and (b/a) > 0

False

In [76]:
a = 0
b = 1

In [77]:
a

0

In [78]:
a and (b/a) > 0

0

In [79]:
string = "this is a string"
s = string or "this is a default string"
s

'this is a string'

In [80]:
string = ""

In [81]:
bool(string)

False

In [82]:
s = string or "this is a default string"
s

'this is a default string'

<h2 id="comparison-operators">Augmented Assignment</h2>
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Augmented<br>Assignment</th>
<th></th>
<th>Standard<br>Assignment</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>a += 5</code></td>
<td>is equivalent to</td>
<td><code>a = a + 5</code></td>
</tr>
<tr>
<td><code>a /= 10</code></td>
<td>is equivalent to</td>
<td><code>a = a / 10</code></td>
</tr>
<tr>
<td><code>a ^= b</code></td>
<td>is equivalent to</td>
<td><code>a = a ^ b</code></td>
</tr>
</tbody>
</table>
</div>

## Python Frequently used functions
- help()
- type()
- print()
- id()
- dir()
- len()
- range()

<h2 id="comparison-operators">Bitwise Operators</h2>

<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>Operator</th>
<th>Example</th>
<th>Meaning</th>
<th>Result</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>&amp;</code></td>
<td><code>a &amp; b</code></td>
<td>bitwise <strong>AND</strong></td>
<td>Each bit position in the result is the logical <strong>AND</strong> of the bits in the corresponding position of the operands. (<code>1</code> if both are <code>1</code>, otherwise <code>0</code>.)</td>
</tr>
<tr>
<td><code>&#124;</code></td>
<td><code>a &#124; b</code></td>
<td>bitwise <strong>OR</strong></td>
<td>Each bit position in the result is the logical <strong>OR</strong> of the bits in the corresponding position of the operands. (<code>1</code> if either is <code>1</code>, otherwise <code>0</code>.)</td>
</tr>
<tr>
<td><code>~</code></td>
<td><code>~a</code></td>
<td>bitwise <strong>negation</strong></td>
<td>Each bit position in the result is the logical negation of the bit in the corresponding position of the operand. (<code>1</code> if <code>0</code>, <code>0</code> if <code>1</code>.)</td>
</tr>
<tr>
<td><code>^</code></td>
<td><code>a ^ b</code></td>
<td>bitwise <strong>XOR (exclusive OR)</strong></td>
<td>Each bit position in the result is the logical <strong>XOR</strong> of the bits in the corresponding position of the operands. (<code>1</code> if the bits in the operands are different, <code>0</code> if they are the same.)</td>
</tr>
<tr>
<td><code>&gt;&gt;</code></td>
<td><code>a &gt;&gt; n</code></td>
<td><strong>Shift right</strong> <code>n</code> <strong>places</strong></td>
<td>Each bit is shifted right <code>n</code> places.</td>
</tr>
<tr>
<td><code>&lt;&lt;</code></td>
<td><code>a &lt;&lt; n</code></td>
<td><strong>Shift left</strong> <code>n</code> <strong>places</strong></td>
<td>Each bit is shifted left <code>n</code> places.</td>
</tr>
</tbody>
</table>
</div>

<h2 id="comparison-operators">Operator Precedence</h2>
- PEMDAS
<div class="table-responsive">
<table class="table table-hover">
<thead>
<tr>
<th>&nbsp;</th>
<th>Operator</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong><em>lowest precedence</em></strong></td>
<td><code>or</code></td>
<td>Boolean OR</td>
</tr>
<tr>
<td></td>
<td><code>and</code></td>
<td>Boolean AND</td>
</tr>
<tr>
<td></td>
<td><code>not</code></td>
<td>Boolean NOT</td>
</tr>
<tr>
<td></td>
<td><code>==</code>, <code>!=</code>, <code>&lt;</code>, <code>&lt;=</code>, <code>&gt;</code>, <code>&gt;=</code>, <code>is</code>, <code>is not</code></td>
<td>comparisons, identity</td>
</tr>
<tr>
<td></td>
<td><code>&#124;</code></td>
<td>bitwise OR</td>
</tr>
<tr>
<td></td>
<td><code>^</code></td>
<td>bitwise XOR</td>
</tr>
<tr>
<td></td>
<td><code>&amp;</code></td>
<td>bitwise AND</td>
</tr>
<tr>
<td></td>
<td><code>&lt;&lt;</code>, <code>&gt;&gt;</code></td>
<td>bit shifts</td>
</tr>
<tr>
<td></td>
<td><code>+</code>, <code>-</code></td>
<td>addition, subtraction</td>
</tr>
<tr>
<td></td>
<td><code>*</code>, <code>/</code>, <code>//</code>, <code>%</code></td>
<td>multiplication, division, floor division, modulo</td>
</tr>
<tr>
<td></td>
<td><code>+x</code>, <code>-x</code>, <code>~x</code></td>
<td>unary positive, unary negation, bitwise negation</td>
</tr>
<tr>
<td><strong><em>highest precedence</em></strong></td>
<td><code>**</code></td>
<td>exponentiation</td>
</tr>
</tbody>
</table>
</div>

# Read String Format Method

- String can be formatted in 2 ways:
  - old style  or **format specifier**
    - uses string with % and % operator
    - "%d %f %s" % (5, 5.5, "5")
    - "%5.3f" % (4.321)
    - "%10.5s" % ('1234567890')  # '     12345'
    
  - new style  or **string format method**
    - uses string with curly brackets
    - "{} {} {}".format(5, 5.5, "5")
    - "{:5.3f} {:10.5s}".format(4.321'1234567890')

## Format Specifier (old-style)

In [23]:
print("%d %f %s" % (5, 5.5, "5"))  # printing  integer, float and string

5 5.500000 5

In [28]:
print("%5.3f" % (4.321978))        # try with (654.321978)

4.322

In [30]:
print("%10.5s" % ('1234567890')) # prints only 5 characters

     12345

In [32]:
print("%10.7s" % ('hello world!')) # prints only 7 characters

   hello w

## Format method (new-style)

In [35]:
print("{} {} {}".format(5, 5.5, "5")) # printing  integer, float and string

5 5.5 5

In [38]:
print("{:5.3f}".format(4.321978))

4.322

In [38]:
print("{:5.3f}".format(4.321978))

4.322

In [39]:
print("{:10.5s}".format('1234567890')) # prints only 5 characters

12345

In [42]:
print("{0} {1}".format(10,100))  # positional

10 100

In [43]:
print("{1} {0}".format(10,100))

100 10

In [40]:
print("{a} {b}".format(a=10,b=100))  # named placeholders

10 100

In [40]:
print("{b} {a}".format(a=10,b=100))  # named placeholders being swapped {b} comes before {a}

10 100

- https://pyformat.info/

## Basic formatting

In [83]:
'%s %s' % ('one', 'two')

'one two'

In [84]:
'%d %d' % (1, 2)

'1 2'

In [85]:
'%f %f' % (1.0, 2.0)

'1.000000 2.000000'

In [86]:
'{} {}'.format('one', 'two')

'one two'

In [87]:
'{} {}'.format(1, 2)

'1 2'

In [88]:
'{} {}'.format(1.0, 2.0)

'1.0 2.0'

In [89]:
'{0} {1}'.format('one', 'two', 'three')  # three is not getting printed

'one two'

In [90]:
'{1} {0}'.format('one', 'two')

'two one'

## Padding and Aligning Strings
### Align Right

In [91]:
'%10s' % ('test',)

'      test'

In [92]:
'{:>10}'.format('test')

'      test'

### Align Left

In [93]:
'%-10s' % ('test',)

'test      '

In [94]:
'{:10}'.format('test')

'test      '

### Padding

In [95]:
'{:_<10}'.format('test')

'test______'

### Center Align

In [96]:
'{:^10}'.format('test')

'   test   '

In [97]:
'{:^6}'.format('zip')

' zip  '

## Truncating Long Strings

In [98]:
'%.5s' % ('xylophone',)

'xylop'

In [99]:
'{:.5}'.format('xylophone')

'xylop'

## Combining Truncating and Padding

In [100]:
'%-10.5s' % ('xylophone',)

'xylop     '

In [101]:
'{:10.5}'.format('xylophone')

'xylop     '

## Numbers
### Integer

In [1]:
'%d' % (42,)

'42'

In [2]:
'{:d}'.format(42)

'42'

### Float

In [104]:
'%f' % (3.141592653589793,)

'3.141593'

In [105]:
'{:f}'.format(3.141592653589793)

'3.141593'

## Padding numbers

In [106]:
'%4d' % (42)

'  42'

In [107]:
'{:4d}'.format(42)

'  42'

### Width and Precision

In [108]:
'%06.2f' % (3.141592653589793,)

'003.14'

In [109]:
'{:06.2f}'.format(3.141592653589793)

'003.14'

### Fill With Zeros

In [110]:
'%04d' % (42,)

'0042'

In [111]:
'{:04d}'.format(42)

'0042'

## Signed numbers

In [112]:
'%+d' % (42)

'+42'

In [113]:
'{:+d}'.format(42)

'+42'

In [114]:
'% d' % ((- 23))

'-23'

In [115]:
'% d' % (42,)

' 42'

In [116]:
'{: d}'.format((- 23))

'-23'

In [117]:
'{: d}'.format(42)

' 42'

## Named placeholders

In [1]:
'{first} {last}'.format(first='first Name', last='Last Name!')

'first Name Last Name!'

## Parametrized formats

In [119]:
'{:{align}{width}}'.format('test', align='^', width='10')

'   test   '

In [120]:
'{:{align}{width}}  {:{align}{width}}'.format('Hello', 'World', align='^', width='10')

'  Hello       World   '

In [121]:
'%.*s = %.*f' % (3, 'Gibberish', 3, 2.7182)

'Gib = 2.718'

In [122]:
'{:.{prec}} = {:.{prec}f}'.format('Gibberish', 2.7182, prec=3)

'Gib = 2.718'

In [123]:
'{:{}{}{}.{}}'.format(2.7182818284, '>', '+', 10, 3)

'     +2.72'